.instilogo {
    height: 50px;
    filter: grayscale(20%);
}

a:hover {
    /* font-weight: 400; */
    text-decoration: none;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    /* color: #444; */
}

.social-logo {
  width: 24px; /* Original width */
  height: 24px; /* Original height */
/*   filter: brightness(0) saturate(100%) invert(12%) sepia(85%) saturate(6684%) hue-rotate(358deg) brightness(87%) contrast(103%); /* Change to #aa0100 */ */
  transition: transform 0.3s, filter 0.3s; /* Smooth transition */
  margin-right: 10px; /* Add space between logos */
}

.social-logo:hover {
  transform: scale(1.2); /* Slightly increase size on hover */
}


.noter {
    font-size: 9pt;
}

.tagsep {
    padding: 4px;
}

.tag {
    padding-right: 2px;
}

.confshort {
    font-weight: 300;
}

.conf {
    display: inline-block;
    padding-bottom: 4px;
}
/* 
.paper {
    border-left: 1px solid #ddd;
} */
.paper {
    border-left: 1px solid #ddd;
    overflow-wrap: break-word; /* Allows long words to break */
}

.menulink:hover {
    color: #111;
}

.profilepic {
    width: 200px; /* Set width */
    height: 200px; /* Ensure height is equal to width */
    border-radius: 50%; /* Set border-radius to 50% to make it circular */
    object-fit: cover; /* Ensures the image maintains aspect ratio and fits within the circle */
}

@media (min-width: 1268px) {
    .fixed-posi {
        /* width: 50%;
            margin-left: 50%;
            min-height:100%; */
        position: fixed;
    }
}

@media only screen and (max-width: 1500px) {
    .allstuff {
        padding-top: 0px !important;
    }

    .allstuffp {
        padding-top: 0px !important;
    }

    .profilepic {
        width: 90px; /* Set width */
        height: 90px; /* Ensure height is equal to width */
        border-radius: 50%; /* Set border-radius to 50% to make it circular */
        object-fit: cover; /* Ensures the image maintains aspect ratio and fits within the circle */
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .menur {
        padding-top: 18px !important;
    }

}

/* .thisauthor {
          color: #111;
          text-decoration: underline;
    } */
